* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", serif;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: center;
}

.title h1{
  font-size: 64px;
  color: white;
}

.title h2{
  font-size: 64px;
  color: #00509d;
}

.intro{
  display: flex;
  margin: 20px 5% 20px;
  color: white;
}

.intro img {
  border-radius: 30px;
  width: 364px;
  box-shadow: 0 3px 10px 3px black;
}


.intro-text h2 {
  font-size: 48px;
  margin-left: 20px;
  color: #ffd500;
}

.intro-text p{
  margin-left: 20px;
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
}

.intro-text a {
  font-size: 24px;
  text-decoration: none;
  color: inherit;
  color: #ffd500;
}

.intro-text a:hover {
  text-shadow: 0 3px 5px yellow;
}

.showcase {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.showcase .showcase-images {
  display: flex;
  gap: 50px;
}

.showcase-images img {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 3px 10px 2px black;
  height: auto;
  object-fit: cover;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.links a{
  font-size: 24px;
  text-decoration: none;
  color: inherit;
  color: #007bff;
}

.links a:hover {
  text-shadow: 0 3px 5px  aqua;
}

.links img {
  width: 128px;
  height: 128px;
}

.home-section {
  background-color: #007bff;
  padding-bottom: 20px;
  border-radius: 50px;
  margin: 5%;
}

.links-section {
  background-color: #ffd500;
  padding: 10px;
  margin: 5%;
  margin-bottom: -100px;
  border-radius: 50px;
}